/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

/* site colour palette */
:root {
    --main-col:#001F3D;
    --zero-col:#FFFFFF;
    --secondary-col:#47C8FF;
    --third-col: #A1C4CE;
    --accent-col: #CEFF1F;
}


/* generic style reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* To see outline of all elements (temp)*/
    border: 1px solid whitesmoke;
}

/* add your own style rules here */
body{
    background-color: var(--main-col);
}


/* Fixing Nav-Bar */
header {
    padding: 10px 20px;
    background-color: #47c8ff70
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style logo */
.nav-logo img{
    width: 150px;
    height: auto;
}

/* Style links */
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li{
    font-size: x-large;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: var(--third-col)
    
}

/* Fix logo img */
header img {
    width: 150px;
    height: auto;
}

/* Active page link style */
.nav-links .active a {
    color: var(--accent-col);
}

/* White on hover */
.nav-links a:hover {
    color: var(--zero-col);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

/* Adding Hero img */
.hero {
    background-image: url(img/bridge3.jpg);
    background-size: cover;
    background-position-y: -200px;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}

/* Making Footer */
footer{
    color: var(--zero-col);
    background-color: var(--secondary-col);
    justify-items: center;
    font-size: medium;
    font-weight: bold;
    margin: 20px 0px;
}